<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Entabulature</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Photo Gallery
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/constructionPics">Constructions</a></li>
                    <li><a href="/elevationPics">Elevations</a></li>
                    <li><a href="/interiorPics">Interiors</a></li>
                </ul>
            </li>            
            <li><a href="/team">Team</a></li>
            <li><a href="#">Blogs</a></li>
            <li><a href="/testimonials">Testimonials</a></li>
            <li><a href="/contactUs">Contact Us</a></li>
        </ul>
        <% if( typeof(session.loggedIn) == 'undefined' ) {%>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/adminLoginPage"><span class="glyphicon glyphicon-log-in"></span> Admin</a></li>
        </ul>
        <%} else { %>        
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/adminLogout"> Logout</a></li>
        </ul> 
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/adminDashboard"> adminDashboard</a></li>
        </ul> 
        <%}%>
    </div>
</nav>