<html>
    <head>
        <% include partials/head.ejs %>
    </head>
    <body>
        <% include partials/navbar.ejs %>
        <div class="container">
            <h1 align="center">admin dashboard</h1>
            <% if ( typeof(message) != 'undefined' ) { %>
            <p class="col-md-4 col-md-offset-4" id="newTeamMember"><%= message %></p><br>
            <% } %>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 align="center" class="panel-title">
                        <a id="teamMemberInfo" data-toggle="collapse" href="#collapse1">Add/Update/Delete Team Members</a>
                    </h2>
                </div>
                <div class="panel-collapse collapse" id="collapse1">
                    <div class="panel-body">
                        <!--Adding and updating tem members-->
                        <div class="row">
                            <div class="team col-md-4 col-md-offset-1">            
                                <h3 align="center">Add a new Team Member</h3>
                                <form action="/addMember" method="post">
                                    <p class="input-group">
                                        <span class="input-group-addon"><span class="icon-user"></span></span>
                                        <input type="text" required class="form-control input-lg" name="memberName" placeholder="enter name">
                                    </p>
                                    <p class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-phone-alt"></span></span>
                                        <input type="text" required class="form-control input-lg" name="memberDesignation" placeholder="enter Designation">
                                    </p>
                                    <p class="input-group">                               
                                        <textarea type="text" rows="10" cols="50" required class="form-control input-lg" name="memberText" placeholder="enter text"></textarea>
                                    </p>
                                    <p class="text-center">
                                        <button class="btn btn-info btn-lg">Add</button>
                                    </p>
                                </form>
                            </div>
                            <div class="team col-md-4 col-md-offset-2">            
                                <h3 align="center">Update an existing member</h3>
                                <form action="/updateMember" method="post">
                                    <p class="input-group">
                                        <span class="input-group-addon"><span class="icon-user"></span></span>
                                        <input id="editName" type="text" required class="form-control input-lg" name="memberName" placeholder="enter name">
                                    </p>
                                    <p class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-phone-alt"></span></span>
                                        <input id="editDesignation" type="text" required class="form-control input-lg" name="memberDesignation" placeholder="enter Designation">
                                    </p>
                                    <p class="input-group">                               
                                        <textarea id="editText" type="text" rows="10" cols="50" required class="form-control input-lg" name="memberText" placeholder="enter text"></textarea>
                                    </p>
                                    <p class="text-center">
                                        <button class="btn btn-info btn-lg">Update</button>
                                    </p>
                                </form>
                            </div>                      
    
                        </div>
                        <div><h3 id="specialMessages"></h3></div>
                        <!--Now the list of member info extracted from the DB-->
                        <% if (members !== null) { %>
                        <div class="row">
                            <% if (typeof(members) != 'undefined') { %>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Designation</th>
                                                <th>Description</th>                                                
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var i=0; i < members.length; i++) {%>
                                            <tr id="rowContent">
                                                <td id="teamMemberName"><%= members[i].name %></td>
                                                <td id="teamMemberDesignation"><%= members[i].designation %></td>
                                                <td id="teamMemberDescription"><%= members[i].description %></td>                                                
                                                <td><button id="delMember"  class="btn btn-danger">Delete</button></td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                                <% } else { %>    
                                    <h3  align="center">There are no members currently</h3>
                                <% } %>
                        </div>  
                        <% } else {%>
                            <div id="noMembers">
                                <h3 id="extraMessages">Please click on <a href="/team">team</a> again</h3>
                            </div>  
                        <% } %>               
                    </div>                
                </div>            
            </div>

        </div>
        
        
    </body>
</html>