<html>
    <head>
        <% include partials/head.ejs %>
    </head>
    <body id="teamPage">
        <% include partials/navbar.ejs %>      
        <div class="container">
            <div class="jumbotron">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Designation</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i < members.length; i++) {%>
                            <tr>
                                <td><%= members[i].name %></td>
                                <td><%= members[i].designation %></td>
                                <td><%= members[i].description %></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </body>
</html>